<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/public/style.css}" />

    <script src="webjars/vue/vue.min.js"></script>
    <script src="webjars/axios/dist/axios.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>-->
</head>
<body>
<div id="app">

    <div th:replace="fragments/navbar :: header"></div>
    <!--<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li> <router-link class="nav-link" to="/"> Formulario </router-link> </li>
                <li> <router-link class="nav-link" to="/"> Lista de formularios </router-link> </li>
            </ul>
        </div>
    </nav>-->
    <div class="text-center" style="margin-top: 20px; margin-left: 40px">
        <div class="container">
            <h1>Comisaría virtual</h1>
            <h3 class="subtitle">Permiso Temporal para asistir a centros de salud</h3>
            <div class="split-pane-divider"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="twelve columns align-items-center">
                    <h5>Formulario de solicitud</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #app{
        margin: 0;
        padding: 0;
        width: 100%;
    }
</style>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
